<!-- Show all posts -->
<div class="container">
  <h1> List of all blog posts! </h1>

  <table>
    <tr>
      <!-- Table headers -->
      <br>
      <th> Title </th>
      <th> Description </th>
      <th> Tag </th>

    </tr>
    <!-- For each post -->
      <% @posts.each do |post| %> 
    <tr>
      <!-- Print blog text and associated creation date -->
      <td><%= post.title%></td>
      <td><%= post.body%></td>
      <td><%= post.tag%></td>
  

      <td><a href=<%= "/post/#{post.id}/delete"%> >DELETE   </a></td>

      <td><a href=<%= "/post/#{post.id}/edit"%> >EDIT  </a></td>

    </tr>
    <%end%>
  </table>
  <br>
  <a href=<%= "/"%> >HOMEPAGE</a>
</div>


   


